/**
* Feuille de styles principale
* Created on : 24 oct. 2014, 17:28:30
*   Author     : CV170C7N
*/

#guide {
    overflow-Y: scroll;
    scroll: auto;
}


p.presentation {
    font: 18px Arial, Helvetica, sans-serif;
    color: #585858;
    border-radius: 15px;
}


#cadre {
    margin-left:15px;
    margin-right:15px;
    margin-bottom:15px;
    margin-top:15px;
    width:1100px;
    border: 1px solid;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius:15px;
    padding:5px;
    background: #eee;
    display:inline-block;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);  
}

#entete_planning{
    width:auto; 
    display:block; 
    height:24px;
    text-align:center;
    font: 20px Arial, Helvetica, sans-serif;
    padding:10px;
}


a:hover {
    text-decoration: none;
}
#menu{
    text-align:center;
}

#main{width:auto; display:block;}

#menu_gauche {
    padding-left:15px;
    padding-right:21px;
    padding-bottom: 30px;
    display: block;
    height:550px;
    width:200px;
    
    border: 1px solid;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius:15px;
    box-shadow: 5px, 5px, 5px #b3c1db;
    
    background: #901A1C;
    background-image: -moz-linear-gradient(right top,#c7383a 0%,#FF9980 100%);
    background-image: -webkit-gradient(linear,right top, left bottom,color-stop(0, #901A1C),color-stop(1, #FF9980));
    
    background: -webkit-linear-gradient(right top, #901A1C 0%, #FF9980 100%);
    background: -o-linear-gradient(right top, #901A1C 0%, #FF9980 100%);
    background: -ms-linear-gradient(right top, #901A1C 0%, #FF9980 100%);
    background: linear-gradient(right top, #901A1C 0%, #FF9980 100%); 
}

#menu_prefs span {
    padding-left: 15px;
    color: #FFF;
    font-style: italic;
    font-size: 14px;
}
#menu_prefs span:hover {
    color:#6600CC;
}

#planning {
    float:left;
}

#defilement {
    float:left;
    overflow-Y: scroll;
    scroll: auto;
}

#menu_gauche .titre {
    padding-left:30px;
    font-family:sans-serif;
    font-size: 14px;
    margin-top: 5px;
    text-decoration: underline;
    color: #FFF;
}

.attention {
    border: 2px red;
}


#message {
    
    background-color: #1f3d71;
    border: 2px solid;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius:25px;
    text-align: center;
    position: absolute;
    padding:5px;
    min-height:60px;
    z-index:0;
    left: 600px;
    top: 300px;
}

#message div{
    padding:10px;
    vertical-align:middle;
    display:inline-block;
    font: 18px Arial, Helvetica, sans-serif;
    color: wheat;
    text-align: left;
}

#img_loading {
    float:left;
    text-align: center;
    position: absolute;
    padding:5px;
    z-index:0;
    left: 600px;
    top: 300px;
    width: 50px;
    height: 50px;
}

.form_icon {
    display:inline-block;
}
.col_droite { /*conteneur du tableau*/
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    font: 11px Arial, Helvetica, sans-serif;
    color: black;
    float: right;
    width: 850px;
    background: #CCFFFF;
    
}

.column {
    float:left;
}

.ressources{ /*entêtes de ligne (ressources) */
    float:left;
    margin:0;
    padding: 10px 0 0 24px;
    width: 129px;
    text-align: left;
    height: 30px;
    border-right: 1px solid #ced9ec;
    border-bottom: 1px solid #b3c1db;
    color:#1f3d71;
    font: 13px Arial, Helvetica, sans-serif;
    background:#ccc;
}

.espace {
    float: none;
}

.entete_jour , .entete_today, .cell, .today, .legende_ressources, .legende_me, legende_totaux {
    float:left;
    margin:0;
    width: 40px;
    text-align:center;
    border : 1px solid #b3c1db;
}

.entete_jour{
    height: 30px;
    background: #cccc99;
    border: 1px solid #FFFFCC;
}


.cell, .today, .legende_ressources, .legende_me, legende_totaux{
    margin-top: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.cell{
    background: #fff;
}

.cell.we {
    background: #cccc99;
}

.cell.ferie {
    background: #7f7f7f;
    color: #fff;
}

.entete_today{
    background: #ccff33;
}

.today, .entete_today {
    border: 1px solid #ff3300;
}

fieldset {
    font-size: 14px;
    margin-top: 5px;
}

.legende_titre{
    text-align:center;
    font-size: 14px;
    text-decoration: underline;
}

.cell:hover { /*rollover des cellules de données*/
    background:#ca6500;
}

.entete_semaine{
    float:left;
    margin:0;
    border-right: 1px solid #ced9ec;
    width: 293px; /* 280+14px (bordure cell) - 1px(bordure entete) */
    text-align:center;
    height: 20px;
    border-bottom: 1px solid #b3c1db;
    background:#66CCCC;
    font-size: 14px;
}

.entete_semaine, .legende_semaine{
    height: 25px;
    text-align:center;
    float:left;
}

.legende_semaine span{
    padding: 10px;
}

.legende_semaine img{
    width: 25px;
}

.cell, .today, .legende_ressources, .legende_me, legende_totaux {
    height: 22px;
}

.legende_ressources, .legende_me {
    background:#66cccc;
    font-size: 12px;
}

.legende_me {
    font-weight: bold;
    background:#3399ff;
}

.legende_totaux {
    background:#901A1C;
}

.legende_semaine{
    background:#fff;
}

.legende_jour {
    height: 30px;
    border : 1px solid #b3c1db;
    background: #cccc99;
}

.legende_ressources, .legende_me, .legende_semaine, .legende_jour {
    float:left;
    width: 220px;
    text-align: left;
    padding-left:12px;
    border-right: 1px solid #ced9ec;
    border-bottom: 1px solid #b3c1db;
}

.legende_activite {
    float: none;
    text-align: center;
}

#div_saisie_activite {
    border-radius: 10px;
}

#div_saisie_activite img {
    width:5%;
}

/*
:required {
    border: 2px dotted #3399ff;
 }
*/
.tab_params {
    border: 1px solid;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin: 10px 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background: #CFF;
}
/* Tableau des types d'activités */
#tab_activites th {
    background: #999;
}

input, select {
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: border .2s linear 0s;
}

#tab_activites td {
    width:100px;
}

legend {
    font-size: 20px;
    margin-left: 50px;
}

tr.pair{
    background: #fff;
    line-height: 30px;
}

tr.impair{
    background: #66CCCC;
    line-height: 30px;
}

.choix_couleur{
    width: 100px;
}

#newLine {
    background: #ffc000;
}

#new_validation {
    background: #cccc99;
    color: #fff;
}

/* Hack DatePicker*/
.ui-datepicker {
    padding: 0.1em 0.1em 0;
    width: 11em;
}

.ui-datepicker th {
    border: 0 none;
    font-weight: normal;
    padding: 0.2em 0.1em;
    text-align: center;
}

.ui-datepicker th span {
    font-size: 11px;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0.1em;
}

.ui-datepicker td {
    padding: 0.9px;
}

.ui-datepicker .ui-state-highlight {
    height: 12px;
    margin-bottom: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    font-size: 10px;
    font-weight: normal;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 13px;
}

.ui-datepicker .ui-datepicker-title span {
    font-size: 11px;
}

.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span {
    margin-left: -8px;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
    height: 15px;
    top: 1px;
    width: 15px;
}

.ui-datepicker-next-hover .ui-icon {
    height: 16px;
    width: 16px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    font-size: 14px;
}
