/**
* Feuille de styles principale
* Created on : 24 oct. 2014, 17:28:30
*   Author     : CV170C7N
*/

#cadre {
    margin-left:15px;
    margin-right:15px;
    margin-bottom:15px;
    margin-top:15px;
    width:1100px;
    border: 1px solid;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius:15px;
    padding:5px;
    background: #eee;
    display:inline-block;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);  
}


#main{width:auto; display:block;}

